<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		
		button {
		  border-radius: 5px;
		  color: white;
		  background-color: #0F5897;
		  padding: 3px 10px 3px 10px;
		}
		
		button:hover {
		  animation-name: background-color;
		  animation-duration: 500ms;
		}
		@keyframes background-color {
		  100% {
			background-color: #4791d0;
		}
		  
		}
		
	  </style>
		
</head>
<body>
	<form action="{% url 'tinfo:vote' question.id %}" method="post">
	{% csrf_token %}
		<input type="text" value="{{ question.name }}">
		<button type="submit">Submit</button>
	</form>
</body>
</html>